@font-face {
  font-family: "font_h1";
  src: url(/fonts/Bellota\ Text.ttf);
}

@font-face {
  font-family: "font_p";
  src: url(/fonts/Baloo\ Bhaijaan\ 2.ttf);
}

@font-face {
  font-family: "font_o";
  src: url(/fonts/Josefin\ Sans.ttf);
}

* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: #171810;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/imgs/fred.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

ul li {
  list-style-type: none;
  transition: 0.7s all;
}

nav ul li:hover {
  background-color: #171810;
  border-radius: 25px;
}

nav {
  width: 100%;
  height: 50px;
  background: transparent;
  line-height: 50px;
  padding: 15px;
  text-shadow: 1px 1px #000000;
  text-align: right;
}

nav ul {
  float: center;
  margin-right: 30px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

nav ul li a {
  text-decoration: none;
  color: #f3ca20;
  padding: 30px;
  font-family: "font_o";
  font-size: 20px;
}

.footer {
  background-color: #f3ca20;
}

.footer h1 {
  font-family: "font_h1";
  color: black;
  padding: 20px;
  font-size: 24px;
}

input[type="submit"] {
  font-family: "font_p";
  color: #fff;
  background: black;
  padding: 2px 40px;
  text-decoration: none;
  border: 1px solid yellow;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
h1 {
  color: #f3ca20;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #f3ca20;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  border: 4px solid lightskyblue;
}

th {
  background-color: #f3ca20;
  color: black;
  border: 2px solid lightskyblue;
  font-family: "font_h1";
  font-size: 20px;
}

td {
  border: 1px solid lightskyblue;
  font-family: "font_p";
  font-size: 18px;
}
